<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>auroraweb</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <style>
    body {
      background-color: #200e4b;
    }
    #messages {
      font-family: 'Roboto', sans-serif;
      font-size: xx-large;
      white-space: pre-wrap;
      max-height: fit-content;
      overflow-y: scroll;
      border: 1px solid #200e4b;
      background-color: #200e4b;
      padding: 10px;
      margin: 10px 0;
      color: white;
      padding-bottom: 100px;
    }
    #msg {
      font-size: larger;
      position: fixed;
      bottom: 0;
      width: 90%;
      height: 100px;
      box-sizing: border-box;
    }
    #sendbtn {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 10%;
      height: 100px;
      box-sizing: border-box;
    }
    .header {
      color: white;
    }
  </style>
</head>
<body>

   <div id="main-menu" style="display: block;">
        <h2 class="header">Main Menu</h2>
        <button onclick="document.getElementById('signup').style.display = 'block'; document.getElementById('main-menu').style.display = 'none';">Sign Up</button>
        <button onclick="document.getElementById('login').style.display = 'block'; document.getElementById('main-menu').style.display = 'none';">Log In</button>
   </div>

   <div id="chat" style="display: none;">
    <h2 class="header">Aurorachat</h2>
    <div id="messages"></div>
    <input type="text" id="msg" placeholder="Type a message...">
    <button id="sendbtn" onclick="sendmessage(document.getElementById('msg').value);document.getElementById('msg').value=''">Send</button>
   </div>

   <div id="signup" style="display: none;">    
    <h2 class="header">Sign Up</h2>
    <input id="username" type="text" placeholder="Username"><br>
    <input id="password" type="password" placeholder="Password">
    <button onclick="if (this.innerHTML=='Show'){document.getElementById('password').setAttribute('type','text');this.innerHTML='Hide'} else {document.getElementById('password').setAttribute('type','password');this.innerHTML='Show'}">Show</button><br>
    <button onclick="makeaccount(document.getElementById('username').value, document.getElementById('password').value)">Register</button>
    <button onclick="document.getElementById('signup').style.display = 'none'; document.getElementById('main-menu').style.display = 'block';">Back</button>
   </div>

   <div id="login" style="display: none;">    
    <h2 class="header">Log In</h2>
    <input id="username2" type="text" placeholder="Username"><br>
    <input id="password2" type="password" placeholder="Password">
    <button onclick="if (this.innerHTML=='Show'){document.getElementById('password2').setAttribute('type','text');this.innerHTML='Hide'} else {document.getElementById('password2').setAttribute('type','password');this.innerHTML='Show'}">Show</button><br>
    <button onclick="loginaccount(document.getElementById('username2').value, document.getElementById('password2').value); document.getElementById('chat').style.display = 'block'; document.getElementById('login').style.display = 'none';">Login</button>
    <button onclick="document.getElementById('login').style.display = 'none'; document.getElementById('main-menu').style.display = 'block';">Back</button>
   </div>

  <script>

    var usrname = "goon";
    var pass = "goon";


    function makeaccount(usrname3, pass3) {
    console.log("Requesting account creation...");

    if (!usrname3 || !pass) {
        console.error("Username or password are missing");
        return;
    }

    fetch('http://104.236.25.60:3072/api', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            cmd: 'MAKEACC',
            username: usrname3,
            password: pass3
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`Error while sending: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log('Success:', data);
        document.getElementById('signup').style.display = "none";
        document.getElementById('login').style.display = "block";
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

      function loginaccount(usrname3, pass3) {
    console.log("Requesting login...");

    if (!usrname3 || !pass3) {
        console.error("Username or password is missing");
        return;
    }

    fetch('http://104.236.25.60:3072/api', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            cmd: 'LOGINACC',
            username: usrname3,
            password: pass3
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`Error while sending: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log('Success:', data);
        document.getElementById('signup').style.display = "none";
        document.getElementById('login').style.display = "none";
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

    function sendmessage(tosend) {
        fetch('http://104.236.25.60:3072/api', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ cmd: 'CHAT', content: tosend, username: usrname, password: pass, platform: 'Web'})
        })
        .then(response => response.json())
        .then(data => console.log('Success:', data))
        .catch(error => console.error('Error:', error));
    }

    const socket = io('http://104.236.25.60:3072');

    socket.on('connect', () => {
      console.log('Connected via Socket.IO');
    });

    fetch('http://104.236.25.60:3072/api', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ cmd: 'CONNECT', version: '4.3' })
    })
    .then(response => response.json())
    .then(data => console.log('Success:', data))
    .catch(error => console.error('Error:', error));

    document.getElementById('msg').addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
      sendmessage(msg.value);
      msg.value = "";
    }
  });

    socket.on('message', (data) => {
      const msg = document.createElement('div');
      msg.textContent = typeof data === 'object' ? JSON.stringify(data) : data;
      document.getElementById('messages').appendChild(msg);
      const messages = document.getElementById('messages');

      messages.scrollTop = messages.scrollHeight - messages.clientHeight;
      messages.scrollBy(0, 100);
    });

    socket.on('disconnect', () => {
      console.log('Disconnected from server');
    });
  </script>
</body>
</html>
