LATEST_VERSION=4.5
HOST=0.0.0.0
HTTP_PORT=3072
TCP_PORT=4040
RATE_LIMIT_MS=1998
MAX_MESSAGE_LENGTH=457
USERNAME_MAX_CHARS=25
PASSWORD_MAX_CHARS=40
TERMINATION_TRIGGER=Fleetway
FLASK_SECRET_KEY=redacted
RAWCHAT_KEY=redacted