AUC_LATEST_VERSION=4.5
AUC_HOST=0.0.0.0
AUC_HTTP_PORT=3072
AUC_TCP_PORT=4040
AUC_RATE_LIMIT_MS=1998
AUC_MAX_MESSAGE_LENGTH=457
AUC_USERNAME_MAX_CHARS=25
AUC_PASSWORD_MAX_CHARS=40
AUC_TERMINATION_TRIGGER=Fleetway
AUC_FLASK_SECRET_KEY=redacted
AUC_RAWCHAT_KEY=redacted