name: Build Aurorachat

on:
  push:
    branches: [ "main" ]
    paths:
      - 'source/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'source/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    container: devkitpro/devkitarm:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Project
        run: |
          make
          make cia

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aurorachat Automatic Build (could be unfinished!)
          path: ./aurorachat.3dsx
