name: Build Aurorachat

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest  # Fully preconfigured

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Project
        run: |
          make

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aurorachat Automatic Build (could be unfinished!)
          path: ./aurorachat.3dsx
