name: Greetings

on:
  pull_request:
    types:
      - opened
  issues:
    types:
      - opened

permissions:
  issues: write
  pull-requests: write

jobs:
  greeting:
    name: Greet First-Time Contributors
    runs-on: ubuntu-latest

    steps:
      - uses: actions/first-interaction@v3
        with:
          issue_message: |
            oh yo whats good its me greetertron! i notice you're new around here. Thanks for making this issue, @cool-guy-awesome or @VirtuallyExisting will see it soon™!

            
          pr_message: |
            oh yo whats good its me greetertron! i notice you're new around here. Thanks for making this PR, @cool-guy-awesome or @VirtuallyExisting will see it soon™!
